<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <button onclick="location.href='/products/create'" type="button">Add Product</button>
    <% if(category !== 'All') { %>
        <button onclick="location.href='/products'" type="button">All Product</button>
    <% } %>
    <table border = 1>
        <thead>
            <tr>
                <td>Nama</td>
                <td>Brand</td>
            </tr>
        </thead>
        <tbody>
            <% for(let product of products) { %>
            <tr>
                <td><%=product.name%></td>
                <td><%=product.brand%></td>
                <td><button onclick="location.href='/products/<%= product.id %>'" type="button">Detail</button></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>